.card-cat {
  display: flex;
  place-items: center;
  gap: 1rem;
  border: 1px solid #0369a199;
  border-radius: 10px;
}

.card-cat aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.card-cat img {
  border-radius: 0 10px 10px 0;
}
